html, body{
    background-color: #030637;
    max-width: 99%;
}

.dark-background{
    background-color: #030637;
    color: #910A67;
}

.light-background{
    background: #910A67;
    color: #910A67;
}